.card__button-del{
    border: none;
    background: none;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url(../../../images/Trash.svg);
    cursor: pointer;
}

.card__button-del:hover{
    opacity: 0.6;
}