.formAuth__input{
    box-sizing: border-box;
    width: 358px;
    height: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: black;
}