.popup__input-text{
    box-sizing: border-box;
    margin: 20px 36px 0;
    width: 358px;
    font-family: 'Inter', 'Helvetica', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    z-index: 1;
}

@media screen and (max-width: 460px) {
    .popup__input-text{
        margin: 17px 22px 0;
        width: calc(100vw - 82px);
    }
}