@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__author/profile__author.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__change-button/profile__change-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__table/cards__table.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__button-like/card__button-like.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__button-del/card__button-del.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__button-like/_state/_active/card__button-like_state_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/block/block.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__window/popup__window.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__input-text/popup__input-text.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/bigImage/bigImage.css);
@import url(./blocks/bigImage/__button-close/bigImage__button-close.css);
@import url(./blocks/bigImage/__img/bigImage__img.css);
@import url(./blocks/bigImage/__name/bigImage__name.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__save-button/_state_disable/popup__save-button_state_disable.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);
@import url(./blocks/popup/__close-button/_type_form/popup__close-button_type_form.css);
@import url(./blocks/card/__amount-like/card__amount-like.css);
@import url(./blocks/popup/__window/_type_confirmation/popup__window_type_confirmation.css);
@import url(./blocks/popup/__save-button/_type_confirmation/popup__save-button_type_confirmation.css);
@import url(./blocks/card/__button-del/_state_disable/card__button-del_state_disable.css);
@import url(./blocks/profile/___changeAvatar-button/profile__changeAvatar-button.css);
@import url(./blocks/popup/__window/_type_changeAvatar/popup__window_type_changeAvatar.css);